<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>V-AMP Editor</string>
	<key>CFBundleExecutable</key>
	<string>V-AMP Editor</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>de.maxgrafik.vedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>V-AMP Editor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2022 Hendrik Meinl</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MIDI SysEx Data</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>syx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.maxgrafik.vedit.syx</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>de.maxgrafik.vedit.syx</string>
			<key>UTTypeDescription</key>
			<string>MIDI SysEx Data</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconName</key>
				<string>MIDI SysEx Data</string>
				<key>UTTypeIconText</key>
				<string>syx</string>
			</dict>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>syx</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
